name: Java Maven CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    name: Build & Test Java Project
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout source code
        uses: actions/checkout@v4

      # Setup Java 17 (recommended)
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven

      # Build the project
      - name: Build with Maven
        run: mvn -B clean package

      # Run tests
      - name: Run Unit Tests
        run: mvn test

      # Upload JAR artifact
      - name: Upload Build Artifact (JAR)
        uses: actions/upload-artifact@v4
        with:
          name: java-app-jar
          path: target/*.jar
          

  deploy:
    name: deploy
    runs-on: ubuntu-latest
    need: build

    steps:
      # Checkout code
      - name: Checkout source code
        uses: actions/checkout@v4