name: CI CD Pipeline For Banking Job

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  context:
    name: Context of Github Action
    runs-on: ubuntu-latest

    steps:
    - name: Print the branch name
      run: echo "my branch name is ${{ github.ref_name }}"

    - name: Print the ref type
      run: echo "my type, ${{ github.ref_type }}"

    - name: Print the the last commit id
      run: echo "my type, ${{ github.sha }}"
      
    - name: Print repo name
      run: echo "my repo, ${{ github.repository }}"

    - name: Print runner id
      run: echo "my runner id, ${{ github.run_id }}"

    - name: Print run id
      run: echo "my run id, ${{ github.run_number }}"
      run: echo "run id, ${{ github.actor }}"





  # build:
  #   name: Build & Test Java Project
  #   runs-on: ubuntu-latest
  #   needs: context

  #   steps:
  #     # Checkout code
  #     - name: Checkout source code
  #       uses: actions/checkout@v4     

  #     # Setup Java 17 (recommended)
  #     - name: Set up JDK 17
  #       uses: actions/setup-java@v4
  #       with:
  #         distribution: 'temurin'
  #         java-version: '17'
  #         cache: maven

  #     # Build the project
  #     - name: Build with Maven
  #       run: mvn -B clean package

  #     # Run tests
  #     - name: Run Unit Tests
  #       run: mvn test

  #     # Upload JAR artifact
  #     - name: Upload Build Artifact (JAR)
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: java-app-jar
  #         path: target/*.jar
          

  # deploy:
  #   name: Deploy the application
  #   runs-on: ubuntu-latest
  #   needs: build

  #   steps:
  #     - name: Download Build Artifact
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: java-app-jar
