name: CI CD Pipeline For Banking Job

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

env:
  INSIDE_CUSTOM_VARIABLE_NAME: "inside"  

jobs:
  context:
    name: Context of Github Action
    # runs-on: ubuntu-latest
    runs-on: label-test

    steps:
    - name: Print the branch name
      run: echo "my branch name is ${{ github.ref_name }}"

    - name: Print the ref type
      run: echo "my type, ${{ github.ref_type }}"

    - name: Print the the last commit id
      run: echo "my type, ${{ github.sha }}"
      
    - name: Print repo name
      run: echo "my repo, ${{ github.repository }}"

    - name: Print runner id
      run: echo "my runner id, ${{ github.run_id }}"

    - name: Print run id
      run: echo "my run id, ${{ github.run_number }}"

    - name: Print who trigger the job
      run: echo "who trigger the job, ${{ github.actor }}"

    - name: Print event name
      run: echo "event name, ${{ github.event_name }}"

    - name: Print job name
      run: echo "job name, ${{ github.job }}"

    - name: Print who trigger mannually
      run: echo "who trigger mannually, ${{ github.triggering_actor }}"

    - name: Print workspace
      run: echo "workspace, ${{ github.workspace }}"

    - name: Print custom variable
      run: echo "Print custom variable, ${{ vars.MY_NAME }}"

    - name: Print inside variable
      run: echo "Print inside variable, ${{ env.INSIDE_CUSTOM_VARIABLE_NAME }}"

    - name: resister runtime dynamic variables in steps
      run: echo "MY_VAR=inside steps" >> $GITHUB_ENV                      ## Static for github  $GITHUB_ENV

    - name: Print runtime dynamic variables
      run: echo "runtime dynamic var is $MY_VAR"



  # build:
  #   name: Build & Test Java Project
  #   runs-on: ubuntu-latest
  #   needs: context

  #   steps:
  #     # Checkout code
  #     - name: Checkout source code
  #       uses: actions/checkout@v4     

  #     # Setup Java 17 (recommended)
  #     - name: Set up JDK 17
  #       uses: actions/setup-java@v4
  #       with:
  #         distribution: 'temurin'
  #         java-version: '17'
  #         cache: maven

  #     # Build the project
  #     - name: Build with Maven
  #       run: mvn -B clean package

  #     # Run tests
  #     - name: Run Unit Tests
  #       run: mvn test

  #     # Upload JAR artifact
  #     - name: Upload Build Artifact (JAR)
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: java-app-jar
  #         path: target/*.jar
          

  # deploy:
  #   name: Deploy the application
  #   runs-on: ubuntu-latest
  #   needs: build

  #   steps:
  #     - name: Download Build Artifact
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: java-app-jar
